/* Navbar.css */
.nav {
  display: flex;
  width: 100%;
  height: 60px;
  padding: 0 50px;
  justify-content: space-between;
  background-color: transparent;
  color: #000;
  align-items: center;
  position: fixed;
  z-index: 9999;
}

.nav_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo {
  font-size: 1.5rem;
}

.link {
  text-decoration: none;
  list-style-type: none;
}

.nav_icon {
  display: none;
}

.nav_links {
  display: flex;
  list-style: none;
}

.nav_links li {
  text-decoration: none;
  list-style-type: none;
}

.nav_links .nav_links_li {
  margin: 16px 5px;
  padding: 14px 12px;
  border-radius: 20px;
  color: #000;
}

.nav_links_li:hover {
  cursor: pointer;
}

.nav_links_li {
  font-weight: bold;
}


.nav_links_open {
  display: flex;
  flex-direction: column;
  background-color: #333;
  margin: 0;
  padding: 0;
}

.nav_logo_p {
  color: #000;
  font-weight: bold;
}

.nav_logo_p .logo_color {
  color: red;
}

.nav_links_li.active {
  color: red !important;
}

.button {
  background-color: #f0713a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.button .bx-right-arrow-alt {
  font-size: 20px;
}

/* Scroll Navbar */
.nav_visible {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.nav_hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}
/* End Scroll navbar */

@media screen and (max-width: 768px) {
  .nav {
    padding: 0 20px;
  }
  .nav_links {
    display: none;
  }

  .nav_links_open {
    display: flex;
    width: 100%;
    background-color: #333;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
  }

  .nav_icon {
    display: block;
  }

  .nav_icons {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .nav_links_li {
    text-align: center;
  }
}
